div.footer_wrap{
  background-color: rgba(0, 0, 0, .1); padding-top: 30px; line-height: 40px;padding-bottom: 10px;
}
footer{
  width: 1200px; margin: 0 auto; text-align: center; color: #777; font-size: 15px;
}