div.App div.infomation_wrap {
  background-color: yellow;
}
div.App div.infomation_wrap div.infomation{
   display: flex; justify-content: space-between; width: 1200px;align-items: center; padding-top: 10px; margin: 0 auto;
}
div.App div.infomation p{
  font-size: 20px;
}
div.App div.infomation p img{
  width: 50px;
}
div.App div.infomation p:last-child img{
  margin-left: 20px;
}
div.App div.infomation p:not(:last-child):after{
  margin-left: 100px; content: "|";
}
